
<app-navbar></app-navbar>
<div class="container-fluid my-5">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
          <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Department</th>
                    <th scope="col">Designation</th>
                    <th scope="col">Date of Birth</th>
                    <th scope="col">Education Qualification</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Date of Joining</th>
                    <th scope="col">Address</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody class="table-group-divider">
                  <tr *ngFor="let i of facultyData">
                    <td> {{i.name}} </td>
                    <td> {{i.department}} </td>
                    <td> {{i.designation}} </td>
                    <td> {{i.dob}} </td>
                    <td> {{i.eduQuali}} </td>
                    <td> {{i.phone}} </td>
                    <td> {{i.doj}} </td>
                    <td> {{i.address}} </td>
                    <td> <button class="btn btn-danger" (click)="deleteFacultyData(i.id)">Delete</button> </td>
                  </tr>
                </tbody>
              </table>
          </div>
            
        </div>
    </div>
</div>
